/* Created by: Shyla Oommen
* Created on: Mar 2023
* This CSS file defines the style for index.html
* ICS2O-Programming-Unit2-04-HTML-AreaTriangle
*/

body {
  background-color: #c5d86d;
}

h2 {
  background-color: #54611a;
  color: whitesmoke;
  padding: 40px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 300%;
}

h3 {
  background-color: #54611a;
  color: whitesmoke;
  padding: 40px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 200%;
}

p {
  background-color: #a7c133;
  font-weight: bold;
  color: #0e1004;
  padding: 40px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
}
